// Variables Sass requeridas (5 variables)

// Variables de color
$primary-color: #000000;
$secondary-color: #ffffff;
$shadow-color: #f3831b;
$hero-bg: linear-gradient(rgba(219, 20, 20, 0.6), rgba(240, 217, 12, 0.6)), url('https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?w=1200');
$theme-name: dark; // usado para demostración de interpolación


// Variables de letra

// $font-stack: 'Cinzel', Tahoma, Geneva, Verdana, sans-serif;
$font-family1: 'Cinzel';

// asdfasdfd