// Variables Sass requeridas (5 variables)

// Variables de color
$primary-color: #000000;
$secondary-color: #ffffff;
$shadow-color: #f3831b;
$hero-bg: linear-gradient(rgba(235, 22, 22, 1), rgba(241, 221, 41, 1)), url('https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?w=1200');
$theme-name: dark; // usado para demostración de interpolación


// Variables de letra

$font-family: 'Cinzel';

 